.app-error-message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-block: 0.5rem 1.5rem;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--mat-sys-error-container);
  color: var(--mat-sys-on-error-container);

  &--hidden {
    display: none;
  }

  &__content {
    flex-grow: 1;
  }
}
